<h1 class="title">About Product</h1>
<h3>{{product.name}}</h3>
<div class="row-flex">
    <img class="image" src={{product.image}}></img>
    <div class="info">
        <p class="about-price price-format">{{product.price}}</p>
        <p class="description">{{product.description}}</p>
    </div>
</div>