<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3 offset-s3"><a class="active" href="#login">Sign In</a></li>
            <li class="tab col s3"><a href="#register">Sign Up</a></li>
        </ul>
    </div>
    <div id="login" class="col s12">
        <form class="col s4 offset-s4 login-form" action='/login/login' method="POST">
            <div class="row">

                {{#if loginError}}
                <div class="login-error">{{loginError}}</div>
                {{/if}}

                <div class="row">
                    <div class="input-field col s10">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label class="active" for="email">E-Mail</label>
                        <span class="helper-text" data-error="Enter valid e-mail"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label class="active" for="password">Password</label>
                        <span class="helper-text" data-error="Enter valid password"></span>
                    </div>
                </div>

            </div>

            <input name="_csrf" value={{csrfToken}} type='hidden'>

            <button class="btn waves-effect waves-light" type="submit">Sign In</button>

        </form>


    </div>
    <div id="register" class="col s12">
        <form class="col s4 offset-s4 login-form" action='/login/registration' method="POST">
            <div class="row">

                {{#if registerError}}
                <div class="login-error">{{registerError}}</div>
                {{/if}}

                <div class="row">
                    <div class="input-field col s10">
                        <input id="remail" name="email" type="email" class="validate" required>
                        <label class="active" for="remail">E-Mail</label>
                        <span class="helper-text" data-error="Enter valid e-mail"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label class="active" for="name">Name</label>
                        <span class="helper-text" data-error="Enter name"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="rpassword" name="password" type="password" class="validate" required>
                        <label class="active" for="rpassword">Password</label>
                        <span class="helper-text" data-error="Enter valid password"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="password-confirm" name="passwordConfirm" type="password" class="validate" required>
                        <label class="active" for="password-confirm">Confirm password</label>
                        <span class="helper-text" data-error="Enter equal password"></span>
                    </div>
                </div>

            </div>

            <input name="_csrf" value={{csrfToken}} type='hidden'>

            <button class="btn waves-effect waves-light" type="submit">Sign Up</button>

        </form>
    </div>
</div>