<div class="row">
    <form class="col s4 offset-s4 login-form" action='/login/password' method="POST">
        <div class="row">

            {{#if error}}
            <div class="login-error">{{error}}</div>
            {{/if}}

            <div class="row">
                <div class="input-field col s10">
                    <input id="rpassword" name="password" type="password" class="validate" required>
                    <label class="active" for="rpassword">New password</label>
                    <span class="helper-text" data-error="Enter valid password"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10">
                    <input id="password-confirm" name="passwordConfirm" type="password" class="validate" required>
                    <label class="active" for="password-confirm">Confirm new password</label>
                    <span class="helper-text" data-error="Enter equal password"></span>
                </div>
            </div>
        </div>

        <input name="_csrf" value="{{csrfToken}}" type='hidden'>
        <input name="resetToken" value="{{resetToken}}" type='hidden'>
        <input name="userId" value="{{userId}}" type='hidden'>

        <button class="btn waves-effect waves-light" type="submit">Save new password</button>

    </form>
</div>