<form class="col s4 offset-s4 login-form" action='/login/new_password' method="POST">
    <div class="row">
        <div class="row">
            <div class="input-field col s10">
                <input id="email" name="email" type="email" class="validate" required>
                <label class="active" for="email">E-Mail</label>
                <span class="helper-text" data-error="Enter valid e-mail"></span>
            </div>
        </div>
    </div>

    <input name="_csrf" value={{csrfToken}} type='hidden'>

    <button class="btn waves-effect waves-light" type="submit">Reset password</button>

</form>